.fixed{
	position: fixed;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}


/*		元素水平垂直居中		*/
.position-center{
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
/*		元素水平居中		*/
.position-x{
	position:absolute;
	left:50%;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	transform:translateX(-50%);
}
/*		元素垂直居中		*/
.position-y{
	position:absolute;
	top:50%;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
}

/*		圆形		*/
.circular{
	
}

/*		弹性盒子布局		*/
.flex{
	display: flex;
	display: -ms-flex;
	display: -moz-box;
	display: -webkit-flex;
}
/*		弹性盒子 水平		*/
.flex-h-start{
	justify-content: flex-start;
	-o-justify-content: flex-start;
	-ms-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-webkit-justify-content: flex-start;
}
.flex-h-center{
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
}
.flex-h-end{
	justify-content: flex-end;
	-o-justify-content: flex-end;
	-ms-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-webkit-justify-content: flex-end;
}
.flex-h-between{
	justify-content: space-between;
	-o-justify-content: space-between;
	-ms-justify-content: space-between;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
}
.flex-h-around{
	justify-content: space-around;
	-o-justify-content: space-around;
	-ms-justify-content: space-around;
	-moz-justify-content: space-around;
	-webkit-justify-content: space-around;
}
/*		弹性盒子 垂直		*/
.flex-v-start{
	align-content: flex-start;
	-o-align-content: flex-start;
	-ms-align-content: flex-start;
	-moz-align-content: flex-start;
	-webkit-align-content: flex-start;
}
.flex-v-center{
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
}
.flex-v-end{
	align-items: flex-end;
	-o-align-items: flex-end;
	-ms-align-items: flex-end;
	-moz-align-items: flex-end;
	-webkit-align-items: flex-end;
}
.flex-v-between{
	align-items: space-between;
	-o-align-items: space-between;
	-ms-align-items: space-between;
	-moz-align-items: space-between;
	-webkit-align-items: space-between;
}
.flex-v-around{
	align-items: space-around;
	-o-align-items: space-around;
	-ms-align-items: space-around;
	-moz-align-items: space-around;
	-webkit-align-items: space-around;
}
/*		弹性盒子 垂直		*/
.flex-nowrap{
	flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
}
.flex-wrap{
	flex-wrap: wrap;
	-o-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}



.skill .title, .work .title{
	margin: 50px auto 0;
}

.title{
	margin: 20px auto 30px;
	position: relative;
	bottom: -15%;
}
.title:before{
	content: '';
	display: block;
	width: 260px;
	height: 1px;
	background-color: #999;
	position: absolute;
	z-index: 10;
	top: 35px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
